<div>
    <p>
        Информация о сиситеме
        <br>
        web-server    :   {{web_srv}}
        <br>
        php version   :   {{php_info}}
        <br>
        user browoser : {{user_br}}
        <br>
    </p>
</div>