<h2>
	Header
</h2>
<nav>
	<a href="/">Главная</a>
	<a href="/user">User list</a>
	{# <a href="/user/create">Create User</a> #}
	{# <a href="/user/update">Update User</a> #}
	{# <a href="/user/delete">Delete User</a> #}
	<a href="/info">System info</a>
	<a href="/about">About</a>
</nav>
